<?xml version="1.0"?>
<config>
  <modules>
    <Vignates_Translate>
      <version>0.1.0</version>
    </Vignates_Translate>
  </modules>
  <global>
    <helpers>
      <translate>
        <class>Vignates_Translate_Helper</class>
      </translate>
    </helpers>
        <events>          
        <controller_front_init_before>
            <observers> 
                <translate>
                    <type>singleton</type>
                    <class>Vignates_Translate_Model_Observer_Autoloader</class>
                    <method>controllerFrontInitBefore</method>
                </translate>
            </observers> 
        </controller_front_init_before>
        <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <translate>
                        <class>Vignates_Translate_Model_Observer</class>
                        <method>addButton</method>
                    </translate>
                </observers>
         </controller_action_layout_render_before_adminhtml_catalog_product_edit>
        </events>
  </global>
      <admin>
        <routers>
            <translate>
                <use>admin</use>
                <args>
                    <module>Vignates_Translate</module>
                    <frontName>translate</frontName>
                </args>
            </translate>
        </routers>
    </admin>
    <default>
        <vignates_translate>
            <general>
                <attributes_to_translate>short_description,description</attributes_to_translate>
            </general>
        </vignates_translate>
    </default>
</config> 